* {
    margin: 0;
}
.container {

    height: 20px;
    margin: auto;
    padding: 4%;
    /* background-color: gray; */
    width: 50%;
}
.addPost {
}
.CompanyCards {
    height: 198px;
    margin: 10px;
    position: relative;
    width: 100%;
    background-color: lightgray;
    border-radius: 15px;
    padding: 20px;
    margin:auto;
    
}
.imgCompanyPost {
    height: 18%;
    width: 100%;
}
.cardC {
    padding: 15px;
} 
/* .row {
    margin: auto;
    margin: -5%;
    padding: 5%;
    border-style: ;
    border-radius: 15px;
} */