/* navbar for the filed */
.bar {
  background-color: black;
  height: 4.4vw;
}

.loginBar {
  float: right;
  position: relative;
  left: 55vw;
}

.Fbtn {
  display: inline;
}

.navbar {
  display: inline;
  color: white;
}

#submitLog {
  padding: 5px 10px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  left: 0vw;
  top: 1.2vw;
}

#submitLog:hover {
  background-color: royalblue;
}

#logo {
  color: white;
  font-size: 20px;
}

/* navbar for the userfiled */

.userNavbar {
  background-color: black;
  padding: 18px;
  text-decoration-line: none;
}

.Ulink {
  text-decoration-line: none;
  color: white;
}

.buttons {
  float: right;
  text-decoration-line: none;
}

.Ubtn {
  display: inline;
  margin: 50px;
}

/* applications side */

.posts {
  border: 0px solid;
  padding: 10px;
  box-shadow: -1px 2px 20px -5px #888888;
  width: 50vw;
  border-radius: 10px;
}

.feed {
  position: relative;
  width: 100%;
}

.feedCard {
  width: 100%;
  left: 35vw;
  top: -64.5%;
  /* margin-top: -200%; */
}

#detailsBtn {
  float: right;
  width: 17%;
  margin: 0 1%;
}

.filter {
  position: relative;
  align-self: center;
}

.signup {
  width: 25%;
  float: right;
  position: relative;
  right: 10%;
  margin-top: 5%;
  border: 1px solid;
  border-radius: 5%;
  padding: 30px;
  text-align: center;
}

.buttonChange {
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  left: 2%;
}

#logotext {
  font-size: 20px;
}

.submit-button {
  background-color: dodgerblue;
}

.checkbox {
  width: 100%;
  left: 1vw;
  top: 5vw;
}

#buttonskills {
  float: right;
}
.checkboxDiv {
  width: 25%;
}

.comapny-avatar{
   border-radius: 50%;
}

.company-profile{
  width:30%;
}
.starts{
  position: relative;
  left:35%;
}